
input[type="checkbox"] {
    transform: translateY(0.075em);
    
    /* border */
    color: #292929;
    border-radius: 0.40em;

    /* får tingen til å forsvinne */
    -webkit-appearance: none;
    appearance: none;
    
    /* ting inni checkbox (no touching) */
    display: grid;
    place-content: center;
    gap: 0.5em;
    width: 1.15em;
    height: 1.15em;
    border: 1.2em solid currentColor;

}

input[type="checkbox"]::before {
  /* kan skrive ting inni content */
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 2em 2em lightblue;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.RepsWeightSelect{
    display: flex;
    padding-top: 9%;
}

.SelectRepsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectWeightDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}

label {
    color: lightblue;
}
