*{
  margin: 0;
  padding: 0;
  color: white
}

.bigContainer{
   padding: 0;
}

.SelectContainer {
  padding-left: 1%;
  display: flex;
}

.setSelectContainer {
    padding-top: 20%;
    padding-left: 5%;
}
.btnContainer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
}

body{
  /* background-color: rgb(5, 5, 36); */
  background-color: rgb(2, 2, 32);
}

.DropdownSelectContainer {
  display: flex;
  width: 100%;
}

.DatatableLinechartContainer {
  display: flex;
}

.DataTableContainer {
  width: 10%;
}

.LineChartContainer {
  width: 100%;
}
